# 법무부 외국인 유학생 관리 정보

- 국내 유학중인 외국인유학생의 국적, 체류자격 및 학사 정보를 제공합니다. (제공 항목은 성별, 국적명, 체류자격, 학교명)
- https://www.data.go.kr/data/3069982/fileData.do

  <img src="images/데이터정보요약.png" width=800 />

## 데이터 분석의 목표 

- 한국에 체류중인 외국인 유학생의 반기별 인원/체류자격/학과 및 학교 통계 확인
- 코로나 전/후 외국인 유학생의 학과 및 학교 선호도(학교, 지역 별) 변화 추이 
- 가능한 경우 다른 수집 데이터(예-지역별 거주 외국인 데이터) 분석 자료와 연계한 정보 발굴

## 데이터 확인

- 2023년 상반기까지 총 24개의 csv 파일로 제공되며 연차별로 제공되는 데이터에 차이가 확인됨
- 우리가 필요한 데이터를 정의하여 베이스가 되는 통계 정보로 변환 가공 필요

### 파일별 데이터 확인

In [5]:
import os
import glob
import pandas as pd
for csv in glob.glob('data/*.csv'):
    path, fname = os.path.split(csv)
    display(fname)
    df = pd.read_csv(csv, encoding='cp949')
    display(df.head(1))

'(2015년)국적+및+체류자격별+유학생+통계+자료.csv'

,국적 및 지역,성별,합계,유학(D-2),전문학사(D-2-1),학사유학(D-2-2),석사유학(D-2-3),박사유학(D-2-4),연구유학(D-2-5),교환학생(D-2-6),교환학생(D-2-F),일반연수(D-4),대학부설어학원연수(D-4-1),외국어연수(D-4-7)
0,중 국,(M),24034,15824,679,10098,3154,905,16,971,1,8210,8210,0

'국내유학중인 외국인유학생 데이터(2016년 12월기준).csv'

  성별    생년 국적명  체류자격    학교명 체류지 시도 체류지 시군구
0  여  1996  중국  학사유학  고려대학교  서울특별시     성북구

'국내유학중인 외국인유학생 데이터(2016년 6월기준).csv'

  성별    생년   국적명  체류자격    학교명 체류지 시도 체류지 시군구 Unnamed: 7
0  여  1967  스리랑카  박사유학  고려대학교  서울특별시     금천구        NaN

'국적 및 체류자격별 유학생 통계 자료(2014년).csv'

,국적,성별,유학(D-2),전문학사(D-2-1),학사유학(D-2-2),석사유학(D-2-3),박사유학(D-2-4),연구유학(D-2-5),교환학생(D-2-6),교환학생(D-2-F),일반연수(D-4),대학부설어학원연수(D,외국어연수(D-4-7),기타
0,중 국,(M),15812,802,9861,3333,810,8,997,1,7609,7607,2,115948

'국적+및+체류자격별+유학생+통계+자료(2010년).csv'

  국적명    성별  전문학사  학사유학  석사유학  박사유학  연구유학  교환학생  한국어연수
0  가나  남(M)     0     6    18     8     0     0      5

'국적+및+체류자격별+유학생+통계+자료(2011년).csv'

  국적명    성별  전문학사  학사유학  석사유학  박사유학  연구유학  교환학생  교환학생.1  한국어연수
0  가나  남(M)     0     8    31     8     0     0       0      5

'국적+및+체류자격별+유학생+통계+자료(2012년).csv'

   국적    성별  전문학사  학사유학  석사유학  박사유학  연구유학  교환학생  교환학생.1  한국어연수
0  가나  남(M)     0    10    36     8     0     0       0      8

'국적+및+체류자격별+유학생+통계+자료(2013년).csv'

   국적    성별  유학  전문학사  학사유학  석사유학  박사유학  연구유학  교환학생  교환학생.1  한국어연수
0  가나  남(M)  92     0    15    63    11     0     3       0     13

'법무부_2018년 상반기 국내 유학중인 외국인유학생 관련자료.csv'

  성별    생년  국적명       체류자격    학교명 체류지 시도 체류지 시군구
0  남  1998  베트남  대학부설어학원연수  인하대학교  인천광역시    미추홀구

'법무부_2019년 상반기 국내 유학중인 외국인유학생(전체).csv'

   순번 성별    생년 국적명  체류자격    학교명   체류지 시도 체류지 시군구
0   1  남  1999  몽골  학사유학  제주대학교  제주특별자치도     제주시

'법무부_국내유학중인 외국인유학생2019년하반기.csv'

   순번 성별    생년  국적명  체류자격    학교명 체류지 시도 체류지 시군구
0   1  여  1999  베트남  학사과정  대구대학교   경상북도     경산시

'법무부_국적 및 체류자격별 유학생 관련 현황(2017년).csv'

,국적명,성별,전문학사(D-2-1),학사유학(D-2-2),석사유학(D-2-3),박사유학(D-2-4),연구유학(D-2-5),교환학생(D-2-6),일-학습연계 유학(D-2-7),단기유학(D-2-8),대학부설어학원연수(D-4-1),외국어연수(D-4-7)
0,한국계 중국인,남,8,106,15,8,1,16,0,0,68,0

'법무부_외국인유학생 관리정보(2020년상반기).csv'

   순번 성별    생년 국적명  체류자격        학교명 체류지 시도 체류지 시군구
0   1  남  2000  말리  학사과정  학교법인성결대학교  서울특별시     용산구

'법무부_외국인유학생관리정보(2014년상반기).csv'

   순번 성별    생년 국적명  체류자격    학교명
0   1  남  1991  중국  학사과정  경북대학교

'법무부_외국인유학생관리정보(2014년하반기).csv'

   순번 성별    생년 국적명  체류자격             학교명
0   1  여  1972  일본  박사과정  한국학중앙연구원한국학대학원

'법무부_유학생 개방 데이터(2018년 하반기)전체.csv'

   순번 성별    생년 국적명  체류자격    학교명 체류지 시도 체류지 시군구
0   1  여  1993  중국  학사유학  경기대학교  서울특별시     관악구

'법무부_유학생 개방 데이터(21년 하반기).csv'

  성별 국적명  체류자격        학교명
0  남  말리  학사과정  학교법인성결대학교

'법무부_유학생 개방 데이터(21년상반기).csv'

  성별 국적명  체류자격        학교명
0  남  말리  학사과정  학교법인성결대학교

'법무부_유학생 개방데이터(2020년하반기).csv'

   순번 성별    생년 국적명  체류자격        학교명 체류지 시도 체류지 시군구
0   1  남  2000  말리  학사과정  학교법인성결대학교  서울특별시     용산구

'법무부_유학생관리정보 데이터_20220630.csv'

  성별 국적명  체류자격        학교명
0  남  말리  학사과정  학교법인성결대학교

'유학생_개방데이터(2017년12월31일 기준.csv'

C:\Users\jiwoa\AppData\Local\Temp\ipykernel_10172\2149055084.py:7: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv, encoding='cp949')

  성별    생년 국적명       체류자격    학교명 체류지 시도 체류지 시군구
0  남  1999  몽골  대학부설어학원연수  동명대학교  부산광역시      남구

'유학생_개방데이터(2017년12월31일 기준_.csv'

  성별    생년 국적명       체류자격 체류지 시도 체류지 시군구
0  남  1999  몽골  대학부설어학원연수  부산광역시      남구

'유학생_개방데이터_201706.csv'

  성별    생년 국적명       체류자격           학교명 체류지 시도 체류지 시군구
0  남  1982  중국  대학부설어학원연수  (학)명지학원관동대학교    강원도     강릉시

'유학생관련 현황.csv'

,국적명,유학(D-2),전문학사(D-2-1),학사유학(D-2-2),석사유학(D-2-3),박사유학(D-2-4),연구유학(D-2-5),교환학생(D-2-6),일-학습연계 유학(D-2,단기유학(D-2-8),교환학생(D-2-F),일반연수(D-4),대학부설어학원연수(D,외국어연수(D-4-7)
0,한국계 중국인,95,5,63,17,9,1,0,0,0,0,8,8,0

'정보화센터_유학생_201507_최종.csv'

  성별      연령대 국적명  체류자격     학교명
0  여  1990년대생  중국  전문학사  영진전문대학

'정보화센터_유학생_201512.csv'

  성별      연령대  국적명  체류자격     학교명 체류지 시도 체류지 시군구
0  남  1990년대생  베트남  전문학사  영남이공대학  대구광역시      남구

### 데이터 형태별 확인

데이터 형태를 확인해보면 두 가지 데이터가 포함된 것으로 확인되며 각각의 파일별로 정보 취합이 필요함  
'체류 자격별 유학생 통계의 취합 정보'는 '유학생 개별 현황 정보'를 이용하여 취합 가능한 정보이므로  
'유학생 개별 현황 정보'를 이용하여 국가별, 학교별, 현황과 코로나 사태와 유학생 수와의 관계, 국가별 선호도 확인 가능

- 체류 자격별 유학생 통계의 취합 정보 : 연도별, 국적 및 성별, 체류 자격에 대한 취합
  - '법무부_국적 및 체류자격별 유학생 관련 현황(2017년).csv'
  - '(2015년)국적+및+체류자격별+유학생+통계+자료.csv'
  - '국적 및 체류자격별 유학생 통계 자료(2014년).csv'
  - '국적+및+체류자격별+유학생+통계+자료(2013년).csv'
  - '국적+및+체류자격별+유학생+통계+자료(2012년).csv'
  - '국적+및+체류자격별+유학생+통계+자료(2011년).csv'
  - '국적+및+체류자격별+유학생+통계+자료(2010년).csv'
  - '유학생관련 현황.csv'
- 유학생 개별 현황 정보 : 체류 국적, 나이, 성별, 체류 자격, 학교, 체류 지역의 개별 현황 정보
  - '법무부_유학생관리정보 데이터_20220630.csv'
  - '법무부_유학생 개방 데이터(21년 하반기).csv'
  - '법무부_유학생 개방 데이터(21년상반기).csv'
  - '법무부_유학생 개방데이터(2020년하반기).csv'
  - '법무부_외국인유학생 관리정보(2020년상반기).csv'
  - '법무부_국내유학중인 외국인유학생2019년하반기.csv'
  - '법무부_2019년 상반기 국내 유학중인 외국인유학생(전체).csv'
  - '법무부_유학생 개방 데이터(2018년 하반기)전체.csv'
  - '법무부_2018년 상반기 국내 유학중인 외국인유학생 관련자료.csv'
  - '유학생_개방데이터(2017년12월31일 기준.csv'
  - '유학생_개방데이터_201706.csv'
  - '국내유학중인 외국인유학생 데이터(2016년 12월기준).csv'
  - '국내유학중인 외국인유학생 데이터(2016년 6월기준).csv'
  - '정보화센터_유학생_201512.csv'
  - '정보화센터_유학생_201507_최종.csv'
  - '법무부_외국인유학생관리정보(2014년하반기).csv'
  - '법무부_외국인유학생관리정보(2014년상반기).csv'

# 데이터 정제

## 데이터 가공 1차 - 병합
- ''에 파일 병합 수행
- 컬럼 정비 : 데이터 타입 정리, 불필요한 컬럼(인덱스) 정비

In [6]:
# 파일 정비
csv_files = [
    '법무부_유학생관리정보 데이터_20220630.csv',
    '법무부_유학생 개방 데이터(21년 하반기).csv',
    '법무부_유학생 개방 데이터(21년상반기).csv',
    '법무부_유학생 개방데이터(2020년하반기).csv',
    '법무부_외국인유학생 관리정보(2020년상반기).csv',
    '법무부_국내유학중인 외국인유학생2019년하반기.csv',
    '법무부_2019년 상반기 국내 유학중인 외국인유학생(전체).csv',
    '법무부_유학생 개방 데이터(2018년 하반기)전체.csv',
    '법무부_2018년 상반기 국내 유학중인 외국인유학생 관련자료.csv',
    '유학생_개방데이터(2017년12월31일 기준.csv',
    '유학생_개방데이터_201706.csv',
    '국내유학중인 외국인유학생 데이터(2016년 12월기준).csv',
    '국내유학중인 외국인유학생 데이터(2016년 6월기준).csv',
    '정보화센터_유학생_201512.csv',
    '정보화센터_유학생_201507_최종.csv',
    '법무부_외국인유학생관리정보(2014년하반기).csv',
    '법무부_외국인유학생관리정보(2014년상반기).csv']

import os
import glob
import pandas as pd

def reload_data(csv_files, show=False, low_memory=True):
    """
    CSV 를 다시 읽어온다.
    return {(파일명, dataframe)}
    """
    df_dict = {}
    for csv in csv_files:
        csv_path = os.path.join('data/', csv)
        path, fname = os.path.split(csv_path)
        if show: display(fname)
        df = pd.read_csv(csv_path, encoding='cp949', low_memory=low_memory)
        if show: display(df.head(1))
        df_dict[fname] = df
    return df_dict

df_dict = reload_data(csv_files, show=True)

'법무부_유학생관리정보 데이터_20220630.csv'

  성별 국적명  체류자격        학교명
0  남  말리  학사과정  학교법인성결대학교

'법무부_유학생 개방 데이터(21년 하반기).csv'

  성별 국적명  체류자격        학교명
0  남  말리  학사과정  학교법인성결대학교

'법무부_유학생 개방 데이터(21년상반기).csv'

  성별 국적명  체류자격        학교명
0  남  말리  학사과정  학교법인성결대학교

'법무부_유학생 개방데이터(2020년하반기).csv'

   순번 성별    생년 국적명  체류자격        학교명 체류지 시도 체류지 시군구
0   1  남  2000  말리  학사과정  학교법인성결대학교  서울특별시     용산구

'법무부_외국인유학생 관리정보(2020년상반기).csv'

   순번 성별    생년 국적명  체류자격        학교명 체류지 시도 체류지 시군구
0   1  남  2000  말리  학사과정  학교법인성결대학교  서울특별시     용산구

'법무부_국내유학중인 외국인유학생2019년하반기.csv'

   순번 성별    생년  국적명  체류자격    학교명 체류지 시도 체류지 시군구
0   1  여  1999  베트남  학사과정  대구대학교   경상북도     경산시

'법무부_2019년 상반기 국내 유학중인 외국인유학생(전체).csv'

   순번 성별    생년 국적명  체류자격    학교명   체류지 시도 체류지 시군구
0   1  남  1999  몽골  학사유학  제주대학교  제주특별자치도     제주시

'법무부_유학생 개방 데이터(2018년 하반기)전체.csv'

   순번 성별    생년 국적명  체류자격    학교명 체류지 시도 체류지 시군구
0   1  여  1993  중국  학사유학  경기대학교  서울특별시     관악구

'법무부_2018년 상반기 국내 유학중인 외국인유학생 관련자료.csv'

  성별    생년  국적명       체류자격    학교명 체류지 시도 체류지 시군구
0  남  1998  베트남  대학부설어학원연수  인하대학교  인천광역시    미추홀구

'유학생_개방데이터(2017년12월31일 기준.csv'

C:\Users\jiwoa\AppData\Local\Temp\ipykernel_10172\4004889910.py:35: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_path, encoding='cp949', low_memory=low_memory)

  성별    생년 국적명       체류자격    학교명 체류지 시도 체류지 시군구
0  남  1999  몽골  대학부설어학원연수  동명대학교  부산광역시      남구

'유학생_개방데이터_201706.csv'

  성별    생년 국적명       체류자격           학교명 체류지 시도 체류지 시군구
0  남  1982  중국  대학부설어학원연수  (학)명지학원관동대학교    강원도     강릉시

'국내유학중인 외국인유학생 데이터(2016년 12월기준).csv'

  성별    생년 국적명  체류자격    학교명 체류지 시도 체류지 시군구
0  여  1996  중국  학사유학  고려대학교  서울특별시     성북구

'국내유학중인 외국인유학생 데이터(2016년 6월기준).csv'

  성별    생년   국적명  체류자격    학교명 체류지 시도 체류지 시군구 Unnamed: 7
0  여  1967  스리랑카  박사유학  고려대학교  서울특별시     금천구        NaN

'정보화센터_유학생_201512.csv'

  성별      연령대  국적명  체류자격     학교명 체류지 시도 체류지 시군구
0  남  1990년대생  베트남  전문학사  영남이공대학  대구광역시      남구

'정보화센터_유학생_201507_최종.csv'

  성별      연령대 국적명  체류자격     학교명
0  여  1990년대생  중국  전문학사  영진전문대학

'법무부_외국인유학생관리정보(2014년하반기).csv'

   순번 성별    생년 국적명  체류자격             학교명
0   1  여  1972  일본  박사과정  한국학중앙연구원한국학대학원

'법무부_외국인유학생관리정보(2014년상반기).csv'

   순번 성별    생년 국적명  체류자격    학교명
0   1  남  1991  중국  학사과정  경북대학교

### 데이터 오류 경고 보정

> '유학생_개방데이터(2017년12월31일 기준.csv'
>>  DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.  
>>  df = pd.read_csv(csv_path, encoding='cp949')

In [7]:
df = pd.read_csv('data/유학생_개방데이터(2017년12월31일 기준.csv', encoding='cp949', low_memory=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133967 entries, 0 to 133966
Data columns (total 7 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   성별       133967 non-null  object
 1   생년       133967 non-null  int64
 2   국적명      133967 non-null  object
 3   체류자격     133967 non-null  object
 4   학교명      127522 non-null  object
 5   체류지 시도   133967 non-null  object
 6   체류지 시군구  133967 non-null  object
dtypes: int64(1), object(6)
memory usage: 7.2+ MB

In [8]:
# low_memory 설정 후 다시 읽기
df_dict = reload_data(csv_files, show=False, low_memory=False)

### 데이터에 조사시기 추가
- 조사 시기가 데이터에 포함되어 있지 않아 추가가 필요함
- 조서 시기는 파일명에 포함되어 있으나 규칙 없는 데이터로 손수 추가해야함

In [9]:
# 파일명 별 조사 시기 정보 구축, 연도, 상반기, 하반기 정보 추가

csv_files2 = [
    ('법무부_유학생관리정보 데이터_20220630.csv', '2022', '6'),
    ('법무부_유학생 개방 데이터(21년 하반기).csv', '2021', '12') ,
    ('법무부_유학생 개방 데이터(21년상반기).csv', '2021', '6'),
    ('법무부_유학생 개방데이터(2020년하반기).csv', '2020', '12'),
    ('법무부_외국인유학생 관리정보(2020년상반기).csv', '2020', '6'),
    ('법무부_국내유학중인 외국인유학생2019년하반기.csv', '2019', '12'),
    ('법무부_2019년 상반기 국내 유학중인 외국인유학생(전체).csv', '2019', '6'),
    ('법무부_유학생 개방 데이터(2018년 하반기)전체.csv', '2018', '12'),
    ('법무부_2018년 상반기 국내 유학중인 외국인유학생 관련자료.csv', '2018', '6'),
    ('유학생_개방데이터(2017년12월31일 기준.csv', '2017', '12'),
    ('유학생_개방데이터_201706.csv', '2017', '6'),
    ('국내유학중인 외국인유학생 데이터(2016년 12월기준).csv', '2016', '12'),
    ('국내유학중인 외국인유학생 데이터(2016년 6월기준).csv', '2016', '6'),
    ('정보화센터_유학생_201512.csv', '2015', '12'),
    ('정보화센터_유학생_201507_최종.csv', '2015', '6'),
    ('법무부_외국인유학생관리정보(2014년하반기).csv', '2014', '12'),
    ('법무부_외국인유학생관리정보(2014년상반기).csv', '2014', '6')]

def reload_data2(csv_files, show=False, low_memory=True):
    """
    CSV 를 다시 읽어온다.
    return {(파일명, dataframe)}
    """
    df_dict = {}
    for csv in csv_files:
        csv_path = os.path.join('data/', csv[0])
        path, fname = os.path.split(csv_path)
        if show: display(fname)
        df = pd.read_csv(csv_path, encoding='cp949', low_memory=low_memory)
        
        df['조사년월'] = ['{}{:02d}'.format(csv[1], int(csv[2])) for i in range(len(df))]
        # df['조사년월'] = pd.to_datetime(df['조사년월'], format='%Y%m')
        df_dict[fname] = df
        if show: display(df.head(1))
    return df_dict

df_dict = reload_data2(csv_files2, show=True, low_memory=False)

'법무부_유학생관리정보 데이터_20220630.csv'

  성별 국적명  체류자격        학교명    조사년월
0  남  말리  학사과정  학교법인성결대학교  202206

'법무부_유학생 개방 데이터(21년 하반기).csv'

  성별 국적명  체류자격        학교명    조사년월
0  남  말리  학사과정  학교법인성결대학교  202112

'법무부_유학생 개방 데이터(21년상반기).csv'

  성별 국적명  체류자격        학교명    조사년월
0  남  말리  학사과정  학교법인성결대학교  202106

'법무부_유학생 개방데이터(2020년하반기).csv'

   순번 성별    생년 국적명  체류자격        학교명 체류지 시도 체류지 시군구    조사년월
0   1  남  2000  말리  학사과정  학교법인성결대학교  서울특별시     용산구  202012

'법무부_외국인유학생 관리정보(2020년상반기).csv'

   순번 성별    생년 국적명  체류자격        학교명 체류지 시도 체류지 시군구    조사년월
0   1  남  2000  말리  학사과정  학교법인성결대학교  서울특별시     용산구  202006

'법무부_국내유학중인 외국인유학생2019년하반기.csv'

   순번 성별    생년  국적명  체류자격    학교명 체류지 시도 체류지 시군구    조사년월
0   1  여  1999  베트남  학사과정  대구대학교   경상북도     경산시  201912

'법무부_2019년 상반기 국내 유학중인 외국인유학생(전체).csv'

   순번 성별    생년 국적명  체류자격    학교명   체류지 시도 체류지 시군구    조사년월
0   1  남  1999  몽골  학사유학  제주대학교  제주특별자치도     제주시  201906

'법무부_유학생 개방 데이터(2018년 하반기)전체.csv'

   순번 성별    생년 국적명  체류자격    학교명 체류지 시도 체류지 시군구    조사년월
0   1  여  1993  중국  학사유학  경기대학교  서울특별시     관악구  201812

'법무부_2018년 상반기 국내 유학중인 외국인유학생 관련자료.csv'

  성별    생년  국적명       체류자격    학교명 체류지 시도 체류지 시군구    조사년월
0  남  1998  베트남  대학부설어학원연수  인하대학교  인천광역시    미추홀구  201806

'유학생_개방데이터(2017년12월31일 기준.csv'

  성별    생년 국적명       체류자격    학교명 체류지 시도 체류지 시군구    조사년월
0  남  1999  몽골  대학부설어학원연수  동명대학교  부산광역시      남구  201712

'유학생_개방데이터_201706.csv'

  성별    생년 국적명       체류자격           학교명 체류지 시도 체류지 시군구    조사년월
0  남  1982  중국  대학부설어학원연수  (학)명지학원관동대학교    강원도     강릉시  201706

'국내유학중인 외국인유학생 데이터(2016년 12월기준).csv'

  성별    생년 국적명  체류자격    학교명 체류지 시도 체류지 시군구    조사년월
0  여  1996  중국  학사유학  고려대학교  서울특별시     성북구  201612

'국내유학중인 외국인유학생 데이터(2016년 6월기준).csv'

  성별    생년   국적명  체류자격    학교명 체류지 시도 체류지 시군구 Unnamed: 7    조사년월
0  여  1967  스리랑카  박사유학  고려대학교  서울특별시     금천구        NaN  201606

'정보화센터_유학생_201512.csv'

  성별      연령대  국적명  체류자격     학교명 체류지 시도 체류지 시군구    조사년월
0  남  1990년대생  베트남  전문학사  영남이공대학  대구광역시      남구  201512

'정보화센터_유학생_201507_최종.csv'

  성별      연령대 국적명  체류자격     학교명    조사년월
0  여  1990년대생  중국  전문학사  영진전문대학  201506

'법무부_외국인유학생관리정보(2014년하반기).csv'

   순번 성별    생년 국적명  체류자격             학교명    조사년월
0   1  여  1972  일본  박사과정  한국학중앙연구원한국학대학원  201412

'법무부_외국인유학생관리정보(2014년상반기).csv'

   순번 성별    생년 국적명  체류자격    학교명    조사년월
0   1  남  1991  중국  학사과정  경북대학교  201406

In [10]:
# 이제 붙여보자
df = pd.concat(df_dict.values(), ignore_index=True)
df.reset_index()
df.info()
display(df.head(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2175883 entries, 0 to 2175882
Data columns (total 11 columns):
 #   Column      Dtype
---  ------      -----
 0   성별          object
 1   국적명         object
 2   체류자격        object
 3   학교명         object
 4   조사년월        object
 5   순번          float64
 6   생년          float64
 7   체류지 시도      object
 8   체류지 시군구     object
 9   Unnamed: 7  object
 10  연령대         object
dtypes: float64(2), object(9)
memory usage: 182.6+ MB

,성별,국적명,체류자격,학교명,조사년월,순번,생년,체류지 시도,체류지 시군구,Unnamed: 7,연령대
0,남,말리,학사과정,학교법인성결대학교,202206,NaN,NaN,NaN,NaN,NaN,NaN
1,남,중국,학사과정,숭실대학교,202206,NaN,NaN,NaN,NaN,NaN,NaN
2,남,방글라데시,학사과정,세종대학교,202206,NaN,NaN,NaN,NaN,NaN,NaN
3,남,미국,학사과정,한국외국어대학교,202206,NaN,NaN,NaN,NaN,NaN,NaN
4,남,중국,학사과정,가천대학교,202206,NaN,NaN,NaN,NaN,NaN,NaN
5,남,중국,대학부설 어학원 연수,건국대학교,202206,NaN,NaN,NaN,NaN,NaN,NaN
6,남,베트남,대학부설 어학원 연수,경성대학교,202206,NaN,NaN,NaN,NaN,NaN,NaN
7,남,베트남,대학부설 어학원 연수,부산과학기술대학교,202206,NaN,NaN,NaN,NaN,NaN,NaN
8,남,베트남,전문학사과정,동원과학기술대학교,202206,NaN,NaN,NaN,NaN,NaN,NaN
9,남,중국,대학부설 어학원 연수,신라대학교,202206,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# 필요 없는 컬럼을 제거
del df['순번']
del df['Unnamed: 7']
df.reset_index()
df.info()
df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2175883 entries, 0 to 2175882
Data columns (total 9 columns):
 #   Column   Dtype
---  ------   -----
 0   성별       object
 1   국적명      object
 2   체류자격     object
 3   학교명      object
 4   조사년월     object
 5   생년       float64
 6   체류지 시도   object
 7   체류지 시군구  object
 8   연령대      object
dtypes: float64(1), object(8)
memory usage: 149.4+ MB

  성별    국적명         체류자격        학교명    조사년월  생년 체류지 시도 체류지 시군구  연령대
0  남     말리         학사과정  학교법인성결대학교  202206 NaN    NaN     NaN  NaN
1  남     중국         학사과정      숭실대학교  202206 NaN    NaN     NaN  NaN
2  남  방글라데시         학사과정      세종대학교  202206 NaN    NaN     NaN  NaN
3  남     미국         학사과정   한국외국어대학교  202206 NaN    NaN     NaN  NaN
4  남     중국         학사과정      가천대학교  202206 NaN    NaN     NaN  NaN
5  남     중국  대학부설 어학원 연수      건국대학교  202206 NaN    NaN     NaN  NaN
6  남    베트남  대학부설 어학원 연수      경성대학교  202206 NaN    NaN     NaN  NaN
7  남    베트남  대학부설 어학원 연수  부산과학기술대학교  202206 NaN    NaN     NaN  NaN
8  남    베트남       전문학사과정  동원과학기술대학교  202206 NaN    NaN     NaN  NaN
9  남     중국  대학부설 어학원 연수      신라대학교  202206 NaN    NaN     NaN  NaN

In [12]:
# 연령대 정보를 활용하면 2022, 2011를 제외하고 생년 정보 추가가 가능
print(df[df['생년'].isnull()]['조사년월'].unique())
print(df[df['연령대'].isnull()]['조사년월'].unique())
print(df[df['생년'].isnull() & df['연령대'].notnull()]['조사년월'].unique())
print(df[df['생년'].notnull() & df['연령대'].isnull()]['조사년월'].unique())

# 연령대, 생년이 모두 없는 정보
print('---'*10)
print(df[df['연령대'].isnull() & df['생년'].isnull()]['조사년월'].unique())

['202206' '202112' '202106' '201512' '201506']
['202206' '202112' '202106' '202012' '202006' '201912' '201906' '201812'
 '201806' '201712' '201706' '201612' '201606' '201412' '201406']
['201512' '201506']
['202012' '202006' '201912' '201906' '201812' '201806' '201712' '201706'
 '201612' '201606' '201412' '201406']
------------------------------
['202206' '202112' '202106']

In [13]:
# 연령대에서 '년대생' 제거
print(df['연령대'].unique())
df['연령대'] = df['연령대'].str.replace('년대생', '')
print(df['연령대'].unique())

[nan '1990년대생' '2000년대생' '1940년대생' '1950년대생' '1960년대생' '1970년대생' '1980년대생'
 '1930년대생']
[nan '1990' '2000' '1940' '1950' '1960' '1970' '1980' '1930']

In [14]:
# 바뀐 연령대 정보를 생년에 추가
df.loc[df['연령대'].notnull(), '생년'] = df[df['연령대'].notnull()]['연령대']
df['생년'] = df['생년'].astype('float')
df[df['연령대'].notnull()][['생년', '연령대']].head(3)

             생년   연령대
1828399  1990.0  1990
1828400  1990.0  1990
1828401  1990.0  1990

In [15]:
# 조사 기간과 생년 정보를 이용하여 연령대를 나이로 계산하여 변경, 컬럼명은 연령으로 변경
df = df.rename(columns={"연령대": "연령"})
df.loc[df['생년'].notnull(), "연령"] = (df[df['생년'].notnull()]['조사년월'].str.slice(0, 4).astype(float) - df[df['생년'].notnull()]['생년']).astype('int')

# 생년이 없는 레코드의 '연령'은 None 으로 지정
df.loc[df['생년'].isnull(), '연령'] = None

# 확인
df[df['연령'].notnull()].head(5)

       성별    국적명         체류자격        학교명    조사년월      생년 체류지 시도 체류지 시군구  연령
485532  남     말리         학사과정  학교법인성결대학교  202012  2000.0  서울특별시     용산구  20
485533  남  방글라데시         학사과정      세종대학교  202012  2000.0  서울특별시     광진구  20
485534  남    카타르         학사과정   한국외국어대학교  202012  2000.0  서울특별시     용산구  20
485535  남    베트남  대학부설 어학원 연수      경성대학교  202012  2000.0  부산광역시      남구  20
485536  남    베트남  대학부설 어학원 연수  부산과학기술대학교  202012  2000.0  부산광역시      북구  20

In [16]:
# 각 필드도 확인해보자.
print(df['성별'].unique())
print(df['국적명'].unique())
print(df['체류자격'].unique())
print(df['학교명'].unique())
print(df['체류지 시도'].unique())
print(df['체류지 시군구'].unique())

['남' '여']
['말리' '중국' '방글라데시' '미국' '베트남' '우즈베키스탄' '시리아' '인도네시아' '카자흐스탄' '캄보디아' '케냐'
 '한국계중국인' '이라크' '일본' '타이완' '몽골' '터키' '투르크메니스탄' '러시아(연방)' '네팔' '이탈리아' '필리핀'
 '영국' '캐나다' '홍콩' '이란' '말레이시아' '파키스탄' '프랑스' '싱가포르' '핀란드' '타지키스탄' '네덜란드'
 '가나' '인도' '우루과이' '키르기즈' '남아프리카공화국' '스웨덴' '스위스' '노르웨이' '스페인' '알제리' '타이'
 '미얀마' '브라질' '르완다' '독일' '페루' '포르투갈' '콜롬비아' '헝가리' '리투아니아' '알바니아' '오스트리아'
 '모로코' '루마니아' '코트디부아르' '폴란드' '부르키나파소' '에티오피아' '벨기에' '칠레' '남수단공화국' '우간다'
 '덴마크' '이집트' '아랍에미리트연합' '멕시코' '카메룬' '베네수엘라' '우크라이나' '엘살바도르' '슬로바크' '브루나이'
 '요르단' '체코' '이스라엘' '코스타리카' '아일랜드' '잠비아' '나이지리아' '라오스' '오스트레일리아' '벨로루시'
 '마다가스카르' '라트비아' '아르헨티나' '아제르바이잔' '콩고민주공화국' '미등록국가' '탄자니아' '예멘공화국'
 '사우디아라비아' '아이슬란드' '부룬디' '슬로베니아' '중앙아프리카공화국' '스리랑카' '튀니지' '아르메니아' '뉴질랜드'
 '레소토' '가봉' '불가리아' '차드' '쿠바' '카타르' '수단' '온두라스' '마카오' '파라과이' '레바논' '볼리비아'
 '트리니다드토바고' '에콰도르' '라이베리아' '세네갈' '보스니아-헤르체고비나' '부탄' '도미니카공화국' '니제르' '모리셔스'
 '북마케도니아' '에스토니아' '파나마' '아프가니스탄' '모잠비크' '몰도바' '에스와티니' '과테말라' '기니' '몰타'
 '그리스' '조지아' '니카라과' '룩셈부르크' '티모르민주공화국' '자메이카' '토고' '세인트크리스토퍼네비스' '지부티'
 '앙골라' '리비아' '피지' '적도기니' '한국계러시아인' '팔레스타인' '바레인' '세르비아' '영국외지민' '감비아'
 '파푸아뉴기니' '짐바브웨' '말라위' '시에라리온' '가이아나' '벨리즈' '보츠와나' '소말리아' '오만' '베냉'
 '크로아티아' '에리트레아' '무국적' '키프로스' '수리남' '나우루' '바하마' '바베이도스' '바누아투' '아이티' '콩고'
 '쿠웨이트' '코소보' '몬테네그로' '튀르키예' '안도라' '마케도니아' '세인트루시아' '모리타니' '몰디브' '키리바시'
 '도미니카연방' '솔로몬군도' '투발루' '기니비사우' '나미비아' '그레나다' '코모로' '팔라우' '스와질란드' '키르기스스탄'
 '홍콩거주난민' '리히텐슈타인' '그루지야' '마샬군도']
['학사과정' '대학부설 어학원 연수' '전문학사과정' '교환학생' '석사과정' '박사과정' '외국어연수생'
 '학술연구기관 특정연구자' '(구)교환학생' '시간제 아르바이트' '학사유학' '대학부설어학원연수' '전문학사' '석사유학'
 '박사유학' '연구유학' '외국어연수' '단기유학']
['학교법인성결대학교' '숭실대학교' '세종대학교' ... '(주)원푸드림' '(주)성주디앤디' '경희대학교 아태국제대학원']
[nan '서울특별시' '부산광역시' '경상남도' '인천광역시' '제주특별자치도' '대구광역시' '경상북도' '경기도' '대전광역시'
 '세종특별자치시' '광주광역시' '전라북도' '울산광역시' '충청북도' '충청남도' '강원도' '전라남도' '미상' '체류지미상'
 '시도 미상' 'Ltd)' ' Inc)']
[nan '용산구' '광진구' '남구' '북구' '양산시' '사상구' '해운대구' '중구' '서대문구' '미추홀구' '연수구'
 '계양구' '제주시' '달서구' '경산시' '오산시' '동구' ' ' '노원구' '광산구' '완주군' '포천시' '청주시 청원구'
 '청주시 서원구' '청주시 흥덕구' '군산시' '평택시' '김해시' '수원시 장안구' '동대문구' '용인시 처인구' '종로구'
 '안산시 상록구' '아산시' '천안시 서북구' '구미시' '동작구' '성남시 수정구' '금정구' '부산진구' '성동구' '성북구'
 '대덕구' '서구' '진주시' '창원시 의창구' '울주군' '강릉시' '화성시' '강북구' '시흥시' '영등포구' '송파구'
 '영도구' '부평구' '수성구' '원주시' '의정부시' '충주시' '괴산군' '문경시' '마포구' '전주시 완산구'
 '창원시 마산합포구' '포항시 북구' '목포시' '군포시' '서산시' '용인시 수지구' '수원시 영통구' '관악구' '부천시'
 '양주시' '남동구' '안양시 만안구' '고성군' '수원시 권선구' '금천구' '정읍시' '제천시' '당진시' '속초시' '안성시'
 '경주시' '중랑구' '달성군' '음성군' '천안시 동남구' '유성구' '금산군' '전주시 덕진구' '광주시' '구로구' '김포시'
 '고령군' '창원시 마산회원구' '익산시' '춘천시' '은평구' '영동군' '거제시' '안산시 단원구' '성남시 중원구'
 '수원시 팔달구' '순천시' '홍성군' '김천시' '도봉구' '사하구' '곡성군' '삼척시' '파주시' '나주시' '여주시'
 '안동시' '여수시' '용인시 기흥구' '창원시 성산구' '고양시 일산동구' '논산시' '고양시 덕양구' '보령시' '남양주시'
 '창녕군' '서초구' '공주시' '강서구' '수영구' '증평군' '광명시' '강동구' '하남시' '강남구' '안양시 동안구'
 '담양군' '칠곡군' '이천시' '포항시 남구' '구리시' '무안군' '기장군' '동두천시' '고양시 일산서구' '옥천군'
 '진천군' '청주시 상당구' '서귀포시' '함양군' '성남시 분당구' '양천구' '동래구' '성주군' '사천시' '창원시 진해구'
 '연제구' '화순군' '강화군' '계룡시' '양평군' '의왕시' '의성군' '김제시' '태안군' '영주시' '가평군' '영암군'
 '밀양시' '예산군' '영월군' '통영시' '영천시' '홍천군' '광양시' '부여군' '동해시' '횡성군' '과천시' '거창군'
 '장성군' '함안군' '영광군' '평창군' '상주시' '보은군' '산청군' '고창군' '양양군' '울진군' '부안군' '남원시'
 '장흥군' '청양군' '부천시 소사구' '함평군' '임실군' '철원군' '순창군' '남해군' '강진군' '정선군' '미상'
 '해남군' '인제군' '진도군' '서천군' '체류지미상' '시군구 미상' '연천군' '경기도' '태백시' '서울특별시'
 '부천시 원미구' '부천시 오정구' '청도군' '의령군' '옹진군']

In [17]:
import pandas_profiling
pr = df.profile_report() # 프로파일링 결과 리포트를 pr에 저장
# data.profile_report() # 바로 결과 보기
pr.to_file('profile_report.html')

c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Summarize dataset:  48%|████▊     | 10/21 [00:30<00:16,  1.51s/it, Calculate auto correlation]  c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\scipy\stats\_stats_py.py:112: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  warnings.warn("The input array could not be properly "
Summarize dataset:  52%|█████▏    | 11/21 [00:44<00:42,  4.23s/it, Calculate spearman correlation]c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\multimethod\__init__.py:315: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  return func(*args, **kwargs)
Summarize dataset:  53%|█████▎    | 16/30 [01:04<01:09,  4.97s/it, scatter 조사년월, 조사년월]            c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 51312 (\N{HANGUL SYLLABLE JO}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49324 (\N{HANGUL SYLLABLE SA}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 45380 (\N{HANGUL SYLLABLE NYEON}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 50900 (\N{HANGUL SYLLABLE WEOL}) missing from current font.
  plt.savefig(
Summarize dataset:  57%|█████▋    | 17/30 [01:06<00:56,  4.36s/it, scatter 생년, 조사년월]    c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49373 (\N{HANGUL SYLLABLE SAENG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 45380 (\N{HANGUL SYLLABLE NYEON}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 51312 (\N{HANGUL SYLLABLE JO}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49324 (\N{HANGUL SYLLABLE SA}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 50900 (\N{HANGUL SYLLABLE WEOL}) missing from current font.
  plt.savefig(
Summarize dataset:  60%|██████    | 18/30 [01:07<00:44,  3.67s/it, scatter 연령, 조사년월]c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 50672 (\N{HANGUL SYLLABLE YEON}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 47161 (\N{HANGUL SYLLABLE RYEONG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 51312 (\N{HANGUL SYLLABLE JO}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49324 (\N{HANGUL SYLLABLE SA}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 45380 (\N{HANGUL SYLLABLE NYEON}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 50900 (\N{HANGUL SYLLABLE WEOL}) missing from current font.
  plt.savefig(
Summarize dataset:  63%|██████▎   | 19/30 [01:09<00:34,  3.17s/it, scatter 조사년월, 생년]c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 51312 (\N{HANGUL SYLLABLE JO}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49324 (\N{HANGUL SYLLABLE SA}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 45380 (\N{HANGUL SYLLABLE NYEON}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 50900 (\N{HANGUL SYLLABLE WEOL}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49373 (\N{HANGUL SYLLABLE SAENG}) missing from current font.
  plt.savefig(
Summarize dataset:  67%|██████▋   | 20/30 [01:11<00:27,  2.74s/it, scatter 생년, 생년]    c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49373 (\N{HANGUL SYLLABLE SAENG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 45380 (\N{HANGUL SYLLABLE NYEON}) missing from current font.
  plt.savefig(
Summarize dataset:  70%|███████   | 21/30 [01:11<00:18,  2.11s/it, scatter 연령, 생년]c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 50672 (\N{HANGUL SYLLABLE YEON}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 47161 (\N{HANGUL SYLLABLE RYEONG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49373 (\N{HANGUL SYLLABLE SAENG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 45380 (\N{HANGUL SYLLABLE NYEON}) missing from current font.
  plt.savefig(
Summarize dataset:  73%|███████▎  | 22/30 [01:12<00:14,  1.77s/it, scatter 조사년월, 연령]c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 51312 (\N{HANGUL SYLLABLE JO}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49324 (\N{HANGUL SYLLABLE SA}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 45380 (\N{HANGUL SYLLABLE NYEON}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 50900 (\N{HANGUL SYLLABLE WEOL}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 50672 (\N{HANGUL SYLLABLE YEON}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 47161 (\N{HANGUL SYLLABLE RYEONG}) missing from current font.
  plt.savefig(
Summarize dataset:  77%|███████▋  | 23/30 [01:14<00:12,  1.77s/it, scatter 생년, 연령]    c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49373 (\N{HANGUL SYLLABLE SAENG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 45380 (\N{HANGUL SYLLABLE NYEON}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 50672 (\N{HANGUL SYLLABLE YEON}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 47161 (\N{HANGUL SYLLABLE RYEONG}) missing from current font.
  plt.savefig(
Summarize dataset:  80%|████████  | 24/30 [01:15<00:09,  1.65s/it, scatter 연령, 연령]c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 50672 (\N{HANGUL SYLLABLE YEON}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 47161 (\N{HANGUL SYLLABLE RYEONG}) missing from current font.
  plt.savefig(
Summarize dataset:  79%|███████▉  | 26/33 [01:17<00:11,  1.59s/it, Missing diagram bar]     c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49457 (\N{HANGUL SYLLABLE SEONG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 48324 (\N{HANGUL SYLLABLE BYEOL}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 44397 (\N{HANGUL SYLLABLE GUG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 51201 (\N{HANGUL SYLLABLE JEOG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 47749 (\N{HANGUL SYLLABLE MYEONG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 52404 (\N{HANGUL SYLLABLE CE}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 47448 (\N{HANGUL SYLLABLE RYU}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 51088 (\N{HANGUL SYLLABLE JA}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 44201 (\N{HANGUL SYLLABLE GYEOG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 54617 (\N{HANGUL SYLLABLE HAG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 44368 (\N{HANGUL SYLLABLE GYO}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 51312 (\N{HANGUL SYLLABLE JO}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49324 (\N{HANGUL SYLLABLE SA}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 45380 (\N{HANGUL SYLLABLE NYEON}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 50900 (\N{HANGUL SYLLABLE WEOL}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49373 (\N{HANGUL SYLLABLE SAENG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 51648 (\N{HANGUL SYLLABLE JI}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49884 (\N{HANGUL SYLLABLE SI}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 46020 (\N{HANGUL SYLLABLE DO}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 44400 (\N{HANGUL SYLLABLE GUN}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 44396 (\N{HANGUL SYLLABLE GU}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 50672 (\N{HANGUL SYLLABLE YEON}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 47161 (\N{HANGUL SYLLABLE RYEONG}) missing from current font.
  plt.savefig(
Summarize dataset:  82%|████████▏ | 27/33 [01:22<00:12,  2.00s/it, Missing diagram matrix]c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49457 (\N{HANGUL SYLLABLE SEONG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 48324 (\N{HANGUL SYLLABLE BYEOL}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 44397 (\N{HANGUL SYLLABLE GUG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 51201 (\N{HANGUL SYLLABLE JEOG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 47749 (\N{HANGUL SYLLABLE MYEONG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 52404 (\N{HANGUL SYLLABLE CE}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 47448 (\N{HANGUL SYLLABLE RYU}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 51088 (\N{HANGUL SYLLABLE JA}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 44201 (\N{HANGUL SYLLABLE GYEOG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 54617 (\N{HANGUL SYLLABLE HAG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 44368 (\N{HANGUL SYLLABLE GYO}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 51312 (\N{HANGUL SYLLABLE JO}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49324 (\N{HANGUL SYLLABLE SA}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 45380 (\N{HANGUL SYLLABLE NYEON}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 50900 (\N{HANGUL SYLLABLE WEOL}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49373 (\N{HANGUL SYLLABLE SAENG}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 51648 (\N{HANGUL SYLLABLE JI}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 49884 (\N{HANGUL SYLLABLE SI}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 46020 (\N{HANGUL SYLLABLE DO}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 44400 (\N{HANGUL SYLLABLE GUN}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 44396 (\N{HANGUL SYLLABLE GU}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 50672 (\N{HANGUL SYLLABLE YEON}) missing from current font.
  plt.savefig(
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\pandas_profiling\visualisation\utils.py:73: UserWarning: Glyph 47161 (\N{HANGUL SYLLABLE RYEONG}) missing from current font.
  plt.savefig(
Summarize dataset:  85%|████████▍ | 28/33 [01:27<00:14,  2.81s/it, Missing diagram heatmap]c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\seaborn\utils.py:80: UserWarning: Glyph 54617 (\N{HANGUL SYLLABLE HAG}) missing from current font.
  fig.canvas.draw()
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\seaborn\utils.py:80: UserWarning: Glyph 44368 (\N{HANGUL SYLLABLE GYO}) missing from current font.
  fig.canvas.draw()
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\seaborn\utils.py:80: UserWarning: Glyph 47749 (\N{HANGUL SYLLABLE MYEONG}) missing from current font.
  fig.canvas.draw()
c:\Users\jiwoa\Documents\__KM_MBA\2022-eda\venv\lib\site-packages\seaborn\utils.py:80: UserWarning: Glyph 49373 (\N{HANGUL SYLLABLE SAENG}) missing from current font.
  fig.canvas.draw()

# TODO
- 필드 값, 중복 제거 확인 필요 - profiling 쓰자
- 시각화하여 분석 결과 마련 
- 파워포인트 작성

# 발표 자료 (교수님 팁)
## 교수님 팁
- 배경
  - 데이터 선정의 이유와 목적 소개
  - 상식적으로 알 수 있는 인사이트 정의
- 데이터전처리
  - 필요한 정보 선별, 결측치 보정
- 시각화를 통한 결론
  - 시각화를 통한 결론 도출과 상식으로 생각할 수 있는 내용에 대한 증명 
  - 추가로 발견하게 된 인사이트 확인 (너무 특이 사항에 집착하지 않아도 됨)
- 데이터 앱 
  - 필수는 아니며 옵션으로 진행

## 발표 목차
- 배경
- 데이터 전처리
- 시각화 결론
- 데이터 앱은 옵션